.__delivery-green > * {
    fill: limegreen !important;
    color: limegreen !important;
}

.__delivery-yellow > * {
    fill: #FFD700 !important;
    color: #FFD700 !important;
}

.__delivery-red > * {
    fill: red !important;
    color: red !important;
}

.__delivery-green,
.__delivery-yellow,
.__delivery-red {
    font-family: var(--font-body-family) !important;
}