.__delivery-green > * {
    fill: limegreen !important;
    color: limegreen !important;
}

.__delivery-yellow > * {
    fill: #FFD700 !important;
    color: #FFD700 !important;
}

.__delivery-red > * {
    fill: red !important;
    color: red !important;
}