.product__text {
    padding: 1.5rem;
    border-radius: 1rem;
}

.__product-text-author {
    border-radius: 50%;
    border: .4rem solid;
    border-color: rgb(var(--color-secondary-button));
    position: relative;
    top: -2rem;
    right: -1rem;
    float: right;
    z-index: 2;
}

.product__info-container .__product-text-author {
    top: -3rem;
}