.__sto-application {
    width: 32px;
    height: 32px;
}

.__sto-application-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    z-index: 3;
}

.section-header.shopify-section-group-header-group {
    z-index: 4;
}

.product__media-wrapper {
  position: relative;
}