#color-picker-popup {
  max-width: 75rem;
  padding-bottom: 3rem;
}

#color-picker-popup .product-popup-modal__content-info {
  height: calc(100% - 6rem);
}

.color-picker-search-field {
  margin: 1rem 0;
}

.__link:not([href]) {
  cursor: pointer;
}

.categories-breadcrumb.__link::before {
    content: '← ';
}

.__link {
    text-decoration: underline;
}

#category-breadcrumb:not(:empty)::before,
#search-breadcrumb:not(:empty)::before {
  content: ' / ';
  display: inline-block;
  margin: 0 1rem;
  text-decoration: none;
}

.color-picker-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*transition: transform 500ms;*/
  height: calc(100% - 12.34rem);
  overflow: hidden;
}

.color-picker-content > div {
  /*transition: opacity 500ms;*/
}

.color-picker-content.level-1 {
  transform: translateX(0);
}

.level-1:not(.level-2) > :nth-child(2),
.level-2 > :nth-child(1) {
  opacity: 0;
  display: none;
}

.level-2 > :nth-child(2) {
  opacity: 1;
}

.color-picker-category,
.color-picker-color {
     cursor: pointer;
}

.color-picker-content > div {
  min-width: 100%;
  max-width: 100%;
}

.color-picker-categories {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
}

.color-picker-colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
}

.color-picker-color {
    flex: 1 1;
    min-width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 1rem;
    background-color: rgb(var(--color-base-background-2));
    text-align: center;
}

.color-picker-colors > h3 {
    flex-basis: 100%;
}

.color-picker-color > div {
    display: block;
    width: 100%;
    height: 4rem;
    border-radius: 1rem 1rem 0 0;
    background-color: black;
}

.color-picker-color > .weiß {
    background-color: #FCFCFC;
}

.color-picker-color > .gelb {
    background-color: #FFE000;
}

.color-picker-color > .orange {
    background-color: #FFA000;
}

.color-picker-color > .rot {
    background-color: #E04000;
}

.color-picker-color > .violett {
    background-color: #7000B0;
}

.color-picker-color > .blau {
    background-color: #0080D0;
}

.color-picker-color > .grün {
    background-color: #00D060;
}

.color-picker-color > .grau {
    background-color: #808080;
}

.color-picker-category {
    background-color: rgb(var(--color-base-background-2));
    border-radius: 1rem;
    padding: 1rem 2rem;
}

#color-picker-category-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
}

#color-picker-category-content.Weiß > :not(.Weiß),
#color-picker-category-content.Gelb > :not(.Gelb),
#color-picker-category-content.Orange > :not(.Orange),
#color-picker-category-content.Rot > :not(.Rot),
#color-picker-category-content.Violett > :not(.Violett),
#color-picker-category-content.Blau > :not(.Blau),
#color-picker-category-content.Grün > :not(.Grün),
#color-picker-category-content.Grau > :not(.Grau),
#color-picker-category-content.StoColor_System_30er > :not(.STOCOLOR_SYSTEM),
#color-picker-category-content.RAL_Farben > :not(.RAL_FARBTONKARTE),
#color-picker-category-content.Sto_Architectural_Colours > :not(.Sto_AC_Architectural_Colours),
#color-picker-category-content.NCS_Farbsystem > :not(.NCS-System_Edition_2) {
  display: none;
}

.color-picker-category-element:not(#color-picker-custom) {
  cursor: pointer;
}

.color-picker-category-element:not(#color-picker-custom):hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
}

.color-picker-custom-warning {
  line-height: 1.2;
  background-color: rgb(var(--color-base-background-2));
  padding: 1rem;
  font-size: 1rem;
}

#color-picker-custom > .color-picker-category-color {
  background-color: rgb(var(--color-base-background-2));
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0 1rem;
}

#color-picker-custom > .color-picker-category-color > button {
  flex: 1;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-picker-category-color,
.color-picker-category-color:empty {
  display: block;
  height: 7rem;
  opacity: 0;
}

.color-picker-category-color {
  opacity: 1;
}

.color-picker-color-info {
  padding-left: 1rem;
  font-weight: bold;
  background-color: rgb(var(--color-base-background-2));
}